.artwork-card {
  margin-bottom: 1.5rem;
}

.artwork-card-image {
  max-width: 300px;  
}

.artwork-card-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: .6rem;
  margin-bottom: .3rem;
}

.artwork-card-artist {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: $app-gray;
  font-size: 1rem;
}