@import "../../styles/variables.scss";

.artwork-card {
  margin-bottom: 1.5rem;

  .artwork-image {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

.artwork-card-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  line-height: 1.5;
}

.artwork-card-artist {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: $app-gray;
  font-size: 1rem;
}