.btn {
	display: inline-block;
  font-family: 'Karla', sans-serif;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem 1.25rem;
	font-size: 1rem;
	border-radius: 1.5rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  @extend .btn;
  color: $app-black;
	background-color: $app-white;
	border-color: $app-black;
}

.btn-primary-small {
  @extend .btn-primary;
  padding: .15rem .75rem;
}

.btn-primary:hover {
  background-color:#e9e9e9;
}

.btn-primary-small-submit {
	@extend .btn-primary-small;
	font-size: .9rem;
	padding: 0.25rem 0.5rem;
}

.btn-interactive-container {
	color: $app-gray;	
}

.btn-interactive {
	cursor: pointer;
}

.btn-interactive:hover {
	// cursor: pointer;
	color: $app-gray-dark;
}

.btn-interactive-selected {
	@extend .btn-interactive;
	color: $app-accent-color;
}

.btn-interactive-selected:hover {
	color: $app-accent-color-dark;
}