@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
// font-family: 'Libre Baskerville', serif;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Libre+Baskerville&display=swap');
// font-family: 'Karla', sans-serif;

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: black;
  padding: 2rem;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

a:hover {
  color: #810303;
}

.content {
  max-width: 800px;
  margin: auto;
  min-height: 400px;
  padding: 2rem;
}

.content > p {
  padding: 1rem 0;
}