@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Libre+Baskerville&display=swap');
// font-family: 'Libre Baskerville', serif;
// font-family: 'Karla', sans-serif;

// Set height to 100% to enable sticky footer in index.jsx
html,
body {
  height: 100%;
}

/* body, #root, .app, and .footer configured to use Flexbox to implement sticky footer */
/* Using: https://medium.com/@stefanmaretic/react-sticky-footer-f842d5fbd68 */
/* https://codesandbox.io/s/l2v2k0q7rq?from-embed=&file=/src/index.js */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  flex: 1 0 auto;
  padding: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  color: black;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

.header-ruler {
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #d6d6d6;
}

a:hover {
  color: #810303;
}

.content {
  max-width: 1000px;
  margin: auto;
  min-height: 400px;
  padding-top: 1.5rem;
}

.content > p {
  padding: 1rem 0;
}