.form-container {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
}

.form-group {
  margin: 1rem 0;
  font-size: 1.1rem;

  label {
    margin-right: 1rem;
  }

  input {
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
  }

  textarea {
    font-size: 1.1rem;    
    width: 100%;
  }
}