.form-container {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
}

.form-group {
  margin: 1rem 0;
  font-size: 1.1rem;

  label {
    margin-right: 1rem;
  }

  input {
    display: inline-block;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    padding: 6px 8px;
    border: 1px solid $app-black;
    border-radius: 2px;
    margin-top: 4px;
  }

  // input:focus-visible {
  //   border: 1px solid $app-accent-color;
  //   outline: -webkit-focus-ring-color auto 1px;
  // }

  input[type="textarea"] {
    font-size: 1rem;    
    width: 100%;
  }

  textarea {    
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    padding: 6px 8px;
  }
}