$app-black: #000000;
$app-white: #ffffff;
$app-gray: #939393;
$app-gray-light: #BFBFBF;
$app-gray-dark: #5c5c5c;
$app-hover-color: #a8002a;
$app-accent-color: #cd204b;
$app-accent-color-dark: #a5183b;
$app-error-color: #d3093c;