---
http_interactions:
- request:
    method: get
    uri: https://api.artic.edu/api/v1/artworks?fields=id,title,artist_title,date_display,main_reference_number,image_id&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"03d9f2ca10dd92e55be314610eba9e62-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"total":115799,"limit":10,"offset":0,"total_pages":11580,"current_page":1,"next_url":"https:\/\/api.artic.edu\/api\/v1\/artworks?page=2&fields=id%2Ctitle%2Cartist_title%2Cdate_display%2Cmain_reference_number%2Cimage_id&limit=10"},"data":[{"id":262083,"title":"Intaglio
        of Mars","main_reference_number":"2021.415","date_display":"About 1st century
        BCE","artist_title":null,"image_id":null},{"id":4841,"title":"Pivoting Nude,
        Seen from Above","main_reference_number":"1922.4489","date_display":"1896\/1900","artist_title":"Auguste
        Rodin","image_id":"d2d902ae-f195-d1a3-a5d5-5fa9fb0f3aa0"},{"id":112862,"title":"The
        Witches'' Sabbath (recto); Sketches of Centaurs (verso)","main_reference_number":"1923.943","date_display":"1883\/89","artist_title":"Auguste
        Rodin","image_id":"29eaa0e8-254f-a871-34db-781f2e92aa61"},{"id":8969,"title":"Beggar
        wit[...]
