---
http_interactions:
- request:
    method: get
    uri: https://api.artic.edu/api/v1/artworks/search?fields=id,title,artist_title,date_display,main_reference_number,image_id&limit=10&q=van%20gogh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b84a9083cd0e45423c7d8daf6aa0471e-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"preference":null,"pagination":{"total":1868,"limit":10,"offset":0,"total_pages":187,"current_page":1},"data":[{"_score":3301.1685,"date_display":"1889","artist_title":"Vincent
        van Gogh","id":28560,"image_id":"25c31d8d-21a4-9ea1-1d73-6a2eca4dda7e","title":"The
        Bedroom","main_reference_number":"1926.417"},{"_score":3179.3457,"date_display":"1887","artist_title":"Vincent
        van Gogh","id":80607,"image_id":"26d3cea8-44c0-bfbd-a91a-19a007517152","title":"Self-Portrait","main_reference_number":"1954.326"},{"_score":2769.99,"date_display":"1888","artist_title":"Vincent
        van Gogh","id":14586,"image_id":"9ea77636-76e9-9031-6b92-ff34512d7cbc","title":"The
        Poet''s Garden","main_reference_number":"1933.433"},{"_score":2723.1409,"date_display":"c.
        1885","artist_title"[...]
