---
http_interactions:
- request:
    method: get
    uri: https://api.artic.edu/api/v1/artworks/27992?fields=id,title,artist_title,thumbnail,image_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"28b81b284c626c585b0aa40c65c588e0-gzip"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":27992,"title":"A Sunday on La Grande Jatte \u2014 1884","thumbnail":{"lqip":null,"width":16611,"height":11067,"alt_text":"Large
        painting of people in a crowded park, brushstrokes are dots."},"artist_title":"Georges
        Seurat","image_id":"1adf2696-8489-499b-cad2-821d7fde4b33"},"info":{"license_text":"The
        data in this response is licensed under a Creative Commons Zero (CC0) 1.0
        designation and the Terms and Conditions of artic.edu.","license_links":["https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","https:\/\/www.artic.edu\/terms"],"version":"1.2"},"config":{"iiif_url":"https:\/\/www.artic.edu\/iiif\/2","website_url":"http:\/\/www.artic.edu"}}

        '
  recorded_at: Wed, 08 Dec 2021 17:26:19 GMT
[...]
