// Include map functionality for Sass: map.get()
@use "sass:map";

@import "../../styles/variables.scss";
@import "../../styles/defaults.scss";

$lg: map.get($grid-breakpoints, lg);
$md: map.get($grid-breakpoints, md);

.header {  
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500;

  h1 {
    // font-weight: bold;
    font-size: 1.2rem;
  }

  a {
    display: block;
    padding: 10px;
  }

  a:hover {
    color: $app-hover-color;
  }

  .auth-links {
    display: inline-block;
  }

  .auth-links > li {
    display: inline-block;
  }
}

.header-nav {
  // width: 1000px;
  margin: auto;
}

.header-nav-logo {
  float: left;
  max-width: 190px;

  // @media (max-width: $lg) {
  //   display: none;
  // }
}

.header-nav-logo > a {
  font-size: 1.7rem;
  padding-top: 5px;
}

.header-nav-logo-img {
  @extend .img-responsive;  
}

// .header-nav-logo > a:hover {
// }

.header-nav-list {
  // @media (min-width: $lg) {
    float: right;
  // }
}

.header-nav-list > ul {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-list > ul > li {
  float: left;
}

.header-nav-list > ul > li > a {
  margin-right: 1rem;
}

.auth-links > li:last-of-type > a {
  margin-right: 0;
}

// .header-nav-list > li > a:hover {
// }

// #nav-toggle {
//   @media (min-width: $lg) {
//     display: none;
//   }
// }

// .nav-show {
//   @media (max-width: $lg) {

//   }
// }