@import "../../styles/variables.scss";
@import "../../styles/defaults.scss";

.header {  
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 500;

  h1 {
    // font-weight: bold;
    font-size: 1.2rem;
  }

  a {
    display: block;
    padding: 10px;
  }

  a:hover {
    color: $app-hover-color;
  }

  .auth-links {
    display: inline-block;
  }

  .auth-links > li {
    display: inline-block;
  }
}

.header-nav {
  // width: 1000px;
  margin: auto;
}

.header-nav-logo {
  float: left;
}

.header-nav-logo {
  max-width: 190px;
}

.header-nav-logo > a {
  font-size: 1.7rem;
  padding-top: 5px;
}

.header-nav-logo-img {
  @extend .img-responsive;  
}

// .header-nav-logo > a:hover {
// }

.header-nav-list {
  float: right;
}

.header-nav-list > ul {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-list > ul > li {
  float: left;
}

.header-nav-list > ul > li > a {
  margin-left: 1rem;
}

// .header-nav-list > li > a:hover {
// }