@import "../../styles/variables.scss";
@import "../../styles/buttons.scss";

.btn-interactive-like {
  @extend .btn-interactive-container;
  padding-top: 0.6rem;

  .like-count {
    margin-top: .1rem;
    font-family: 'Karla', sans-serif;
  }

  .like-count-selected {
    @extend .like-count;
    color: $app-accent-color;
  }
}	